body{
    background-color: black;
    margin: 0;
    background-image: url(images/background4.png);
}

.input{
    width: 280px;
    margin-left: 635px;
    margin-top: 270px;
    position: absolute;
    opacity: 0;
    animation: input 1s 1.6s 1 forwards;
}

@keyframes input{
    0%{
    }
    100%{
        opacity: 100%;
    }
}

.text_login{
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.input_un_pw{
    width: 250px;
    height: 25px;
    background-color: transparent;
    border: solid 3px rgb(0, 190, 177);
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    padding-left: 20px;
    transition: 0.3s;
}

.input_un_pw:hover{
    transform: scale(1.06);
}

.input_login{
    width: 279px;
    height: 35px;
    background-color: rgb(6, 66, 62);
    border: groove 3px rgb(0, 190, 177);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    padding-left: 20px;
    transition: 0.3s;
}

.input_login:hover{
    transform: scale(1.06);
    background-color: rgb(35, 111, 105);;
}

.container_square{
    margin-left: auto;
    margin-right: auto;
}

.outer_square{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(25, 25, 25);
    border-radius: 50%;
    box-shadow:  0 0px 10px rgb(0, 255, 238), 0 0px 30px rgb(0, 255, 247);
    margin-left: 765px;
    margin-top: 300px;
    opacity: 0;
    animation: outer_square 2s 0.2s 1 forwards;
}

@keyframes outer_square{
    0%{
        width: 50px;
        height: 50px;
    }
    50%{
        box-shadow:  0 0px 10px rgb(255, 255, 255), 0 0px 30px rgb(0, 255, 247);
    }
    100%{
        width: 500px;
        height: 500px;
        border-radius: 20px;
        margin-left: 520px;
        margin-top: 90px;
        transform: rotate(180deg);
        opacity: 100%;
    }
}

.middle_square{
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(0, 255, 238);
    border-radius: 50%;
    margin-left: 768px;
    margin-top: 302px;
    opacity: 0;
    animation: middle_square 2s 0.2s 1 forwards;
}

@keyframes middle_square{
    0%{
    }
    100%{
        width: 485px;
        height: 485px;
        background-color: rgba(0, 255, 238, 0.826);
        border-radius: 20px;
        margin-left: 527px;
        margin-top: 98px;
        transform: rotate(270deg);
        opacity: 100%;
    }
}

.inner_square{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(25, 25, 25);
    border-radius: 50%;
    box-shadow:  0 0px 15px rgb(0, 0, 0);
    margin-left: 770px;
    margin-top: 305px;
    opacity: 0;
    animation: inner_square 2s 0.2s 1 forwards;
}

@keyframes inner_square{
    0%{
    }
    100%{
        width: 470px;
        height: 470px;
        background-color:black;
        border-radius: 20px;
        margin-left: 534px;
        margin-top: 106px;
        transform: rotate(360deg);
        opacity: 100%;
    }
}

.logo{
    position: absolute;
    height: 150px;
    margin-left: 643px;
    margin-top: 120px;
    opacity: 0%;
    animation: logo_animation 1s 1.6s 1 forwards; 
}

@keyframes logo_animation{
    0%{

    }
    100%{
        opacity: 80%;
    }
}

.container_japan1{
    width: 20px;
    margin-top: 100px;
    margin-left: 450px;
    position: absolute;
}

.container_japan2{
    width: 20px;
    margin-top: 380px;
    margin-left: 1060px;
    position: absolute;
}

.japan{
    height: 30px;
    margin-top: 15px;
}

.japan1{
    animation: japan1_animation 1s 1.7s 1 forwards;
    opacity: 0;
}

@keyframes japan1_animation{
    0%{

    }
    50%{
        opacity: 100%;
        transform: scale(1.6);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

.japan2{
    animation: japan2_animation 1s 1.9s 1 forwards;
    opacity: 0;
}

@keyframes japan2_animation{
    0%{

    }
    50%{
        opacity: 100%;
        transform: scale(1.6);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

.japan3{
    animation: japan3_animation 1s 2.1s 1 forwards;
    opacity: 0;
}

@keyframes japan3_animation{
    0%{

    }
    50%{
        opacity: 100%;
        transform: scale(1.6);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

.japan4{
    animation: japan4_animation 1s 2.3s 1 forwards;
    opacity: 0;
}

@keyframes japan4_animation{
    0%{

    }
    50%{
        opacity: 100%;
        transform: scale(1.6);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}